$bodybg : #E9EAF6;
$medium: 700px;

.container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 5%;
}

body {
  background-color: $bodybg;
  font-family: $open-sans;
  margin: none;
}

h1 {
  @include font-styles($accent-500, 35px, 700);
  padding: 30px 0;
}

.logo {
  align-items: center;
  align-self: center;
  display: flex;
  margin-bottom: 20px;

  & img {
    align-self: flex-end;
    display: flex;
}
}

.illustration {
  align-self: flex-start;
}

.column-one {
  align-self: center;
  justify-content: center;
}

.column-two {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding-left: none;
}

li {
  padding: 10px 0;
  margin: 10px;

  &:before {
    content: "• ";
  }
}

.button-primary {
  background-color: $accent-500;
  border: 1px solid $accent-600;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  display: block;
  font-family: $open-sans;
  font-size: 16px;
  min-height: 3em;
  overflow: auto;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  width: 300px;

  &:hover {
    background-color: $accent-600;
  }
}

.description-link {
  color: $accent-500;
  display: block;
  padding-top: 20px;
}

.links {
  margin-top: 50px;

  & h3 {
    margin-bottom: 20px;
  }
}

.column-two a {
  border: 1px solid #A4D6D8;
  border-radius: 30px;
  color: #11939A;
  font-family: $open-sans;
  text-align: center;
  text-decoration: none;
  padding: 7px 50px;
}

.button-secondary {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 20 20 0;

  & a:hover {
    background: #EDF7F7;
  }
}

.button-secondary-two {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20 20 0;

  & a:hover {
    background: #EDF7F7;
  }
}

.tags-link {
  margin: 0 10px 10px 0;;
}

// MOBILE QUERIES //

@media (max-width: 960px) {
  .container {
    align-items: center;
    grid-template-columns: 1fr;
    margin-left: none;
    margin-right: none;
  }

  .body {
    align-items: center;
  }

  .description-one h1,
  p,
  h3 {
    text-align: center;
  }

  .logo,
  .illustration,
  .button-primary,
  .description-link,
  .button-secondary-two,
  .button-secondary {
    display: flex;
    justify-content: center;
  }
}
