.example {
  @include l-container;
  align-items: center;
  display: flex;
  justify-content: space-around;

  &-text {
    @include font-styles($primary-700, 2vw);
  }

  &-icon {
    @include background-image('/images/appIcon.png', 35px, 32px);
    margin-right: 10px;
  }

  &-link {
    @include font-styles($primary-700, 1vw);
    text-decoration: underline;
  }
}
