$bodybg : #E9EAF6;
$medium: 700px;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  background-color: #FFFFFF;
  margin-left: 80px;
  margin-right: 80px;
  padding: 5%;
}

body {
  background-color: $bodybg;
  margin: 0;
  font-family: $open-sans;
}

h1 {
  color: $accent-500;
}

.logo {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  display: flex;
  align-self: flex-end;
}

.illust {
  align-self: flex-start;
}

.columnone {
  align-self: center;
  justify-content: center;
}

.columntwo {
  display: flex;
  align-self: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

ul {
  line-height: 2em;
  list-style-type: none;
  padding-left: 0;

 li:before { content: "• "; }
}

.btn {
  overflow: auto;
  width: 300px;
  font-family: $open-sans;
  font-size: 16px;
  background-color: $accent-500;
  border: 1px solid $accent-600;
  min-height: 3em;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  padding: 30px;
}

.buttonone button:hover {
  background-color: $accent-600;
}

.buttontwo {
  text-decoration: none;
  padding-left: 40px; 
  padding-top: 20px;
}

.buttontwo a {
  color: $accent-500;
}

h3 {
  margin-top: 50px;
}

.columntwo a {
  text-align: center;
  text-decoration: none;
  color: #11939A;
  font-family: $open-sans;
  border: 1px solid #A4D6D8;
  border-radius: 30px;
  padding: 7px 50px;
}

.tags-item {
  flex-wrap: wrap;
  display: inline-block;
  display: flex;
  flex-direction: row;
  margin: 0 20 20 0;

  & a:hover {
    background: #EDF7F7;
  }
}

.tags-itemtwo {
  flex-wrap: wrap;
  display: inline-block;
  display: flex;
  flex-direction: row;
  margin: 0 20 20 0;

  & a:hover {
    background: #EDF7F7;
  }
}

.tags-link {
  margin: 7px;
}

  // MOBILE QUERIES //
  // MOBILE QUERIES //

@media (max-width: 960px) {
  .container {
    align-items: center;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
  }

  .body {
    align-items: center;
  }

  .textone h1,
  p,
  h3 {
    text-align: center;
  }

  .logo,
  .illust,
  .buttonone,
  .buttontwo,
  .tags-itemtwo,
  .tags-item {
    display: flex;
    justify-content: center;
  }
}
