@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  background-color: #FFF;
  margin-left: 80px;
  margin-right: 80px;
  padding: 5%;
}

@media (max-width: 960px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
}

body {
  background-color: #E9EAF6;
  margin: 0;
  font-family: "Open Sans";
}

@media (max-width: 960px) {
  .body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

h1 {
  color: #EC008C;
}

@media (max-width: 960px) {
  .text1 h1 {
    text-align: center;
  }
}

@media (max-width: 960px) {
  p {
    text-align: center;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 960px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.illust {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 960px) {
  .illust {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.column1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  line-height: 2em;
  list-style-type: none;
  padding-left: 0;
}

.btn {
  overflow: auto;
  cursor: pointer;
  width: 300px;
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #EC008C;
  border: 1px solid #A72870;
  min-height: 3em;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 30px;
}

.button1 button:hover {
  background-color: #A72870;
}

@media (max-width: 960px) {
  .button1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button2 {
  text-decoration: none;
  padding-left: 40px;
  padding-top: 20px;
}

@media (max-width: 960px) {
  .button2 {
    text-align: center;
    padding-left: 0px;
  }
}

.button2 a {
  color: #EC008C;
}

h3 {
  margin-top: 50px;
}

@media (max-width: 960px) {
  h3 {
    text-align: center;
  }
}

.tags-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: inline-block;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20 20 0px;
}

.tags-item a:hover {
  background: #EDF7F7;
}

.tags-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: inline-block;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20 20 0px;
}

.tags-item2 a:hover {
  background: #EDF7F7;
}

@media (max-width: 960px) {
  .tags-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.column2 a {
  text-align: center;
  text-decoration: none;
  color: #11939A;
  font-family: "Open Sans";
  border: 1px solid #A4D6D8;
  border-radius: 30px;
  padding: 7px 50px;
}

.tags-link {
  margin: 7px;
}

@media (max-width: 960px) {
  .tags-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */