$bodybg : #E9EAF6;
$medium: 700px;
 
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  background-color: #FFF;
  margin-left: 80px;
  margin-right: 80px;
  padding: 5%;
}

body{
  background-color: $bodybg;
  margin: 0;
  font-family: $open-sans;
}

h1{
  color: $accent-500;
}
  
.logo{
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 20px;    
}

.logo img{
  display: flex;
  align-self: flex-end;
}

.illust{
  align-self: flex-start;
}

.column1{
  align-self: center;
  justify-content: center;
}

.column2{
  display: flex;
  align-self: center;  
  justify-content: center;
}

.buttons{
  display: flex;
  flex-direction: column;
}

ul{
  line-height: 2em;
  list-style-type: none;
  padding-left: 0;
}
    
.btn{
  overflow: auto;
  cursor: pointer;
  width: 300px;
  font-family: $open-sans;
  font-size: 16px;
  background-color: $accent-500;
  border: 1px solid $accent-600;
  min-height: 3em;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 30px;
} 

.button1 button:hover {
  background-color: $accent-600;
}

.button2{
  text-decoration: none;
  padding-left: 40px; 
  padding-top: 20px;
}
     
.button2 a{
  color: $accent-500;
}

h3{
  margin-top: 50px;
}

.tags-item{
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  display: flex;
  flex-direction: row;
  margin: 0 20 20 0px;
}

.tags-item a:hover {
  background: #EDF7F7;
}

.tags-item2{
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  display: flex;
  flex-direction: row;
  margin: 0 20 20 0px;
}

.tags-item2 a:hover {
  background: #EDF7F7;
}

.column2 a{
  text-align: center;
  text-decoration: none;
  color: #11939A;
  font-family: $open-sans;
  border: 1px solid #A4D6D8;
  border-radius: 30px;
  padding: 7px 50px;
}

.tags-link{
  margin: 7px;
}

  // MOBILE QUERIES //
  // MOBILE QUERIES //

@media (max-width: 960px) {
  .container{
    align-items: center;
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }

  .body{
    align-items: center;
  }

  .text1 h1{
    text-align: center;
  }

  p{
    text-align: center;
  }

  .logo{
    display: flex;
    justify-content: center;
  }
  
  .illust{
    display: flex;
    justify-content: center;
  }

  .button1{
    display: flex;
    justify-content: center;
  }

  .button2{
    text-align: center;
    padding-left: 0px;
  }

  h3{
    text-align: center;
  }

  .tags-item2 {
    display: flex;
    justify-content: center;
  }

  .tags-item {
    display: flex;
    justify-content: center;
  }
}
